#header h1 {
  font-family: helvetica;
  font-weight: bold;
  font-size: 100px;
  color: khaki;
  text-align: center;
  margin: auto;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}

h2 {
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.price {
  font-family: helvetica;
  font-weight: bold;
  color: blue;
}
